<script>
  const mobileBtn = document.getElementById('mobile-menu-btn');
  const closeBtn = document.getElementById('close-menu-btn');
  const menu = document.getElementById('mobile-menu');

  mobileBtn.addEventListener('click', () => menu.classList.remove('translate-x-full'));
  closeBtn.addEventListener('click', () => menu.classList.add('translate-x-full'));
</script>
</body>

</html>